body {
  background-color: azure;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
th{
  text-align: center !important; 
  
}


/* Stylizacja dla Toastów */
.Toastify__toast {
  background-color: #007bff !important; /* Kolor tła toastu */
  color: white !important; /* Kolor tekstu */
  border-radius: 8px !important; /* Zaokrąglone rogi */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important; /* Lekki cień */
}

.Toastify__toast-body {
  font-size: 16px; /* Rozmiar czcionki */
  text-align: center; /* Wyrównanie tekstu do środka */
}

.Toastify__close-button {
  color: white !important; /* Kolor przycisku zamknięcia */
}

/* Ustawienie pozycji toastów na górze, na prawo */
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
  width: auto;
  max-width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.rdrStaticRange{
background-color: transparent;
color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
td {
  border: 2px solid black;
  text-align: center;
  width: 80px;
}
table {
  border-collapse: collapse;
  margin-left: 50px;
  min-width: max-content;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.datepicker-overlay {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Thresholds.css */
.thresholds-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thresholds-form {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.thresholds-form h2 {
  font-size: 1.5rem;
  color: #343a40;
}

.checkbox {
  margin-left: 10px;
}

.threshold-inputs {
  margin-top: 20px; /* Increased space between heading and inputs */
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Increased space between input groups */
}

.input-group label {
  margin-right: 15px; /* Increased space between label and input */
  flex-shrink: 0;
}

.threshold-input {
  padding: 8px; /* Added padding for better visual appeal */
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 120px; /* Increased width for better usability */
}

.reset-button {
  margin-top: 20px; /* Increased space above the reset button */
}

.reset-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px; /* Increased padding for a better button size */
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.reset-btn:hover {
  background-color: #0056b3;
}

.chart-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

/* CSS */
.button-64 {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  margin-top: 2%;
  margin-left: 3%;
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
  background-color: transparent;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 16px;
    min-width: 180px;
  }
}
.home-page {
  text-align: center;
  padding: 20px;
}

.home-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 1.2rem;
  color: #555;
}

.authenticated-content {
  padding: 20px;
}